@mixin flex($jc :center, $ai : center, $fd : row) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
	flex-direction: $fd;
}

.user-statistics {
	@include flex(center, center, column);

	&-tabs {
		@include flex();
		margin: 40px 0px;

		div {
			padding: 5px 10px;
			background-color: lightgray;
			margin: 0 20px;
			cursor: pointer;
		}
	}

	&-chart {
		.usc {
			min-width: 500px;
		}
	}
}
