body {
	min-height: 100vh;
}

#root {
	width: 100%;
	min-height: 100vh;
}

.app {
	width: 100%;
	min-height: 100vh;
	position: relative;
}

.ant-dropdown-placement-bottomRight > .ant-dropdown-arrow {
	background-color: lightgray !important;
	border-color: lightgray;
}
